# Local .idea directories
.idea
# Local .terraform directories
**/.terraform/*

# Terraform lockfile
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*
*.tfplan
# Secrets files for aws
/IaC/access.txt
/IaC/secret.txt
/IaC/terraform_ec2_key.pub
/IaC/terraform_ec2_key3.pub
/IaC/id_ed25519